<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/Admin">Admin</a>
        <a href="/admin/story/create">Add a story</a>
      </nav>
    </header>
    <main>
      <h3>Add story</h3>
      <form action="add_story" method="post">
        <label for="title">Titre</label>
        <input type="text" name="title" />
        <label for="content">Contenu</label>
        <input type="text" name="content" />
        <label for="img">Image</label>
        <input type="text" name="img" />
        <label for="category">Category</label>
        <select name="category" id="category">
          <option value="voyage">Voyage</option>
        </select>
        <button type="submit">Ajouter la story</button>
      </form>
    </main>
  </body>
</html>
